lumens-connector-soap/src/test/resources/Symantec_CC/UsernameSecurity_1_2_3_4_5_6_7_8_9_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Symantec.CSM.Business.Common.ExpressionTree" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Symantec.CSM.Business.Common.ExpressionTree">
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11.xsd" namespace="http://www.symantec.com/CSM/ExpressionService/Expression"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12.xsd" namespace="http://schemas.datacontract.org/2004/07/System"/>
  <xs:complexType name="Expressions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expression" nillable="true" type="q1:Expression" xmlns:q1="http://www.symantec.com/CSM/ExpressionService/Expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expressions" nillable="true" type="tns:Expressions"/>
  <xs:simpleType name="Operator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EqualTo"/>
      <xs:enumeration value="Contains"/>
      <xs:enumeration value="StartsWith"/>
      <xs:enumeration value="EndsWith"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operator" nillable="true" type="tns:Operator"/>
  <xs:complexType name="ExpressionField">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="q2:Type" xmlns:q2="http://schemas.datacontract.org/2004/07/System"/>
      <xs:element minOccurs="0" name="MosFieldName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="OrdinalValues" nillable="true" type="tns:ArrayOfOrdinalValue"/>
      <xs:element minOccurs="0" name="__ActualFieldType" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionField" nillable="true" type="tns:ExpressionField"/>
  <xs:complexType name="ArrayOfOrdinalValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdinalValue" nillable="true" type="tns:OrdinalValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdinalValue" nillable="true" type="tns:ArrayOfOrdinalValue"/>
  <xs:complexType name="OrdinalValue">
    <xs:sequence>
      <xs:element name="Name" nillable="true" type="xs:string"/>
      <xs:element name="Number" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdinalValue" nillable="true" type="tns:OrdinalValue"/>
  <xs:simpleType name="FieldDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String"/>
      <xs:enumeration value="DateTime"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="Guid"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FieldDataType" nillable="true" type="tns:FieldDataType"/>
  <xs:simpleType name="LogicalOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="And"/>
      <xs:enumeration value="Or"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogicalOperator" nillable="true" type="tns:LogicalOperator"/>
  <xs:complexType name="ExpressionOperator">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IsUnaryOperator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionOperator" nillable="true" type="tns:ExpressionOperator"/>
  <xs:complexType name="ExpressionValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayableValue" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IsRelativeValue" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ValueTypes" type="tns:ValueTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionValue" nillable="true" type="tns:ExpressionValue"/>
  <xs:simpleType name="ValueTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SpecificValue"/>
      <xs:enumeration value="SpecialValue"/>
      <xs:enumeration value="OrdinalValue"/>
      <xs:enumeration value="OtherProperty"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValueTypes" nillable="true" type="tns:ValueTypes"/>
</xs:schema>