lumens-connector-soap/src/test/resources/Symantec_CC/UsernameSecurity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symantec.com/CSM/Applications/AssetSystem/AssetService">
  <xs:import schemaLocation="UsernameSecurity_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:import schemaLocation="UsernameSecurity_1_2.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/Asset"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetSearchCriteria"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetScores"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetRiskScore"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetScorePair"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetImportInputData"/>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetToFetch" type="q1:guid" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDetailsResult" nillable="true" type="q2:Asset" xmlns:q2="http://www.symantec.com/CSM/Applications/AssetSystem/Asset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetToUpdate" nillable="true" type="q3:Asset" xmlns:q3="http://www.symantec.com/CSM/Applications/AssetSystem/Asset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetsToDelete" nillable="true" type="q4:ArrayOfguid" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Assets" nillable="true" type="q5:ArrayOfguid" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        <xs:element minOccurs="0" name="MovetoContainer" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAssetsResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportESMCCSAssetMapping">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportESMCCSAssetMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportESMCCSAssetMappingResult" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetSearchCriteria" nillable="true" type="q6:AssetSearchCriteria" xmlns:q6="http://www.symantec.com/CSM/Applications/AssetSystem/AssetSearchCriteria"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchResult" nillable="true" type="q7:ArrayOfAsset" xmlns:q7="http://www.symantec.com/CSM/Applications/AssetSystem/Asset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetIDs" nillable="true" type="q8:ArrayOfguid" xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScoresResult" nillable="true" type="q9:ArrayOfAssetScores" xmlns:q9="http://www.symantec.com/CSM/Applications/AssetSystem/AssetScores"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRiskScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerID" type="q10:guid" xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/"/>
        <xs:element minOccurs="0" name="aggregatedRiskScores" nillable="true" type="q11:ArrayOfAssetRiskScore" xmlns:q11="http://www.symantec.com/CSM/Applications/AssetSystem/AssetRiskScore"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRiskScoresResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComplianceScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerID" type="q12:guid" xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/"/>
        <xs:element minOccurs="0" name="aggregatedComplianceScores" nillable="true" type="q13:ArrayOfAssetScorePair" xmlns:q13="http://www.symantec.com/CSM/Applications/AssetSystem/AssetScorePair"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComplianceScoresResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssetImportJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetImportJobInputData" nillable="true" type="q14:AssetImportJobInputData" xmlns:q14="http://www.symantec.com/CSM/Applications/AssetSystem/AssetImportInputData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssetImportJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAssetImportJobResult" type="q15:guid" xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>