lumens-connector-soap/src/test/resources/Symantec_CC/UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetScores" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symantec.com/CSM/Applications/AssetSystem/AssetScores" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="UsernameSecurity_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:complexType name="ArrayOfAssetScores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetScores" nillable="true" type="tns:AssetScores"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetScores" nillable="true" type="tns:ArrayOfAssetScores"/>
  <xs:complexType name="AssetScores">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetID" type="ser:guid"/>
      <xs:element minOccurs="0" name="ComplianceScore" type="xs:float"/>
      <xs:element minOccurs="0" name="MaxRiskScore" type="xs:float"/>
      <xs:element minOccurs="0" name="RiskScore" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetScores" nillable="true" type="tns:AssetScores"/>
</xs:schema>