lumens-connector-soap/src/test/resources/Symantec_CC/UsernameSecurity_1_2_3_4_5_6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symantec.com/CSM/Applications/AssetSystem/AssetType">
  <xs:complexType name="AssetType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string"/>
      <xs:element name="Name" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetType" nillable="true" type="tns:AssetType"/>
</xs:schema>