lumens-connector-orcl/src/test/resources/Symantec_CC/UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.symantec.com/CCS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symantec.com/CCS/">
  <xs:complexType name="ArrayOfAssetResolutionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetResolutionInfo" nillable="true" type="tns:AssetResolutionInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetResolutionInfo" nillable="true" type="tns:ArrayOfAssetResolutionInfo"/>
  <xs:complexType name="AssetResolutionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetResolutionInfo" nillable="true" type="tns:AssetResolutionInfo"/>
</xs:schema>