lumens-connector-orcl/src/test/resources/Symantec_CC/UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29_30_31_32_33_34_35_36.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetOperationFailed" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symantec.com/CSM/Applications/AssetSystem/AssetOperationFailed" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="UsernameSecurity_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetSystemError"/>
  <xs:complexType name="AssetOperationFailed">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:AssetSystemError" xmlns:q1="http://www.symantec.com/CSM/Applications/AssetSystem/AssetSystemError">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ID" type="ser:guid"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetOperationFailed" nillable="true" type="tns:AssetOperationFailed"/>
</xs:schema>