lumens-connector/src/test/resources/Symantec_CC/UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetImportInputData" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symantec.com/CSM/Applications/AssetSystem/AssetImportInputData">
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/AssetType"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18.xsd" namespace="http://www.symantec.com/CSM/Shared/V1/NotificationData"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19.xsd" namespace="http://www.symantec.com/CSM/Applications/AssetSystem/ReconciliationRule"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20.xsd" namespace="http://www.symantec.com/CSM/Shared/V1/ScheduleData"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21.xsd" namespace="http://www.symantec.com/CCS/"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:complexType name="AssetImportJobInputData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetType" nillable="true" type="q1:AssetType" xmlns:q1="http://www.symantec.com/CSM/Applications/AssetSystem/AssetType"/>
      <xs:element minOccurs="0" name="DataCollector" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FailureNotification" nillable="true" type="q2:NotificationData" xmlns:q2="http://www.symantec.com/CSM/Shared/V1/NotificationData"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ReconciliationRules" nillable="true" type="q3:ArrayOfReconciliationRule" xmlns:q3="http://www.symantec.com/CSM/Applications/AssetSystem/ReconciliationRule"/>
      <xs:element minOccurs="0" name="Schedule" nillable="true" type="q4:ScheduleData" xmlns:q4="http://www.symantec.com/CSM/Shared/V1/ScheduleData"/>
      <xs:element minOccurs="0" name="Scope" nillable="true" type="q5:ArrayOfAssetResolutionInfo" xmlns:q5="http://www.symantec.com/CCS/"/>
      <xs:element minOccurs="0" name="ScopeAssetType" nillable="true" type="q6:ArrayOfstring" xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="SuccessNotification" nillable="true" type="q7:NotificationData" xmlns:q7="http://www.symantec.com/CSM/Shared/V1/NotificationData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetImportJobInputData" nillable="true" type="tns:AssetImportJobInputData"/>
</xs:schema>