lumens-connector/src/test/resources/Symantec_CC/UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29_30_31_32_33_34_35_36_37_38_39.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.symantec.com/CSM/Applications/AssetSystem/InValidAttributeError" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symantec.com/CSM/Applications/AssetSystem/InValidAttributeError">
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29_30_31_32_33_34_35_36_37_38.xsd" namespace="http://schemas.datacontract.org/2004/07/Symantec.CSM.AssetSystem.AssetBizLayerInterfaces.Integration"/>
  <xs:import schemaLocation="UsernameSecurity_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23.xsd" namespace="http://www.symantec.com/CSM/Shared/V1/"/>
  <xs:complexType name="InvalidAttributeError">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:ApplicationFaultContractBase" xmlns:q1="http://www.symantec.com/CSM/Shared/V1/">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="q2:ArrayOfAttributeErrorDetail" xmlns:q2="http://schemas.datacontract.org/2004/07/Symantec.CSM.AssetSystem.AssetBizLayerInterfaces.Integration"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidAttributeError" nillable="true" type="tns:InvalidAttributeError"/>
  <xs:complexType name="ProviderConfigurationError">
    <xs:complexContent mixed="false">
      <xs:extension base="q3:ApplicationFaultContractBase" xmlns:q3="http://www.symantec.com/CSM/Shared/V1/">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProviderConfigurationError" nillable="true" type="tns:ProviderConfigurationError"/>
</xs:schema>